name: Unit tests

on: [push]

jobs:
  tests:
    name: Unit tests

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run:  pip install .[tests]
      - name: Run unit tests
        run:  pytest -vv
